@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

html, body, #root, .map-container {
    height: 100%;
}


.app-container {
    display: flex;
    flex-direction: row;
}

.mapContainer {
    height: 100vh;
    width: 100%;
}
